<style>

  body {
    background-image: url("<%= image_url('background-md.svg') %>");
    /*background-repeat: no-repeat;*/
    background-size: 1900px auto;
    background-position: center top;
    background-repeat: repeat-x;
  }

  #header.jumbotron {
    padding: 15px;
    background-color: transparent;
  }

  .options .glyphicon {
    top: 3px;
    font-size: 36px;
    vertical-align: middle;
  }

  .modal-backdrop {
    background-color: #009c82;
  }

  .options, .options:hover {
    position: absolute;
    top: 0px;
    z-index: 2;
    right: 0;
    margin: 15px;
    background-color: white;
    border-radius: 40px;
    padding: 16px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid #adadad;
  }

  #search-group {
    height: 80px;
    font-size: 50px;
  }

  #search-button {
    background-color: #fbb040;
  }

  #hourglass {
    color: white;
  }

  .clickable {
    cursor: pointer;
  }

  .radio-inline label {
    font-weight: normal;
  }

  .radio-inline label input {
    font-weight: normal;
  }

  #word-cloud {
    overflow: visible;
    margin-top: 15px;
    height: 400px !important;
    width: 100% !important;
  }

  #word-cloud > * {
    cursor: pointer;
  }

  div.jqcloud {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: normal;
  }

  div.jqcloud a {
    font-size: inherit;
    text-decoration: none;
  }

  div.jqcloud span.w10 {
    font-size: 550%;
  }

  div.jqcloud span.w9 {
    font-size: 500%;
  }

  div.jqcloud span.w8 {
    font-size: 450%;
  }

  div.jqcloud span.w7 {
    font-size: 400%;
  }

  div.jqcloud span.w6 {
    font-size: 350%;
  }

  div.jqcloud span.w5 {
    font-size: 300%;
  }

  div.jqcloud span.w4 {
    font-size: 250%;
  }

  div.jqcloud span.w3 {
    font-size: 200%;
  }

  div.jqcloud span.w2 {
    font-size: 150%;
  }

  div.jqcloud span.w1 {
    font-size: 100%;
  }

  div.jqcloud a {
    color: inherit;
  }

  div.jqcloud a:hover {
    color: #4be7c7;
  }

  div.jqcloud span.w1,
  div.jqcloud span.w2,
  div.jqcloud span.w3,
  div.jqcloud span.w4,
  div.jqcloud span.w5,
  div.jqcloud span.w6,
  div.jqcloud span.w7,
  div.jqcloud span.w8,
  div.jqcloud span.w9,
  div.jqcloud span.w10 {
    color: #009c82;
  }

  #sex {
    font-size: 50px;
  }

  #sex-button {
    position: initial;
    margin: 0;
  }

  #origin {
    font-size: 35px;
  }

  #lbl-origin {
    position: relative;
    top: -7px;
    left: 6px;
  }

  #lang {
    font-size: 30px;
  }

  #lbl-lang {
    position: relative;
    top: -7px;
    left: 6px;
  }

  #save-pref {
    width: 100%;
    background-color: black;
  }

  #discover {
    font-family: mistral;
    font-size: 46pt;
    position: relative;
    left: 42px;
  }

  .container {
    top: 25px;
    position: relative;
  }

  #logo {
    position: relative;
    top: 15px;
  }

  .btnSex {
    margin-left: 0 !important;
    position: inherit !important;
  }

</style>

<!-- Modal -->
<div id="options-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span><%= tr 'Profile' %></h4>
      </div>
      <div class="modal-body">
        <p class="text-muted"><%= tr 'The information entered will only serve to better serve your needs.' %></p>
        <div class="form-group">
          <div class="radio-inline">
            <i id="sex" class="icon ion-man"></i>
            <label><input id="sex-button-male" class="clickable btnSex" value="male" type="radio" name="sex-radio"></label>
          </div>
          <div class="radio-inline">
            <i id="sex" class="icon ion-woman"></i>
            <label><input id="sex-button-female" class="clickable btnSex" value="female" type="radio" name="sex-radio"></label>
          </div>
          <div class="radio-inline">
            <i id="sex" class="ion-ios-people"></i>
            <label><input id="sex-button-family" class="clickable btnSex" value="family" type="radio" name="sex-radio"></label>
          </div>
        </div>
        <i id="origin" class="icon ion-earth"></i><label id="lbl-origin"><%= tr 'Country of origin' %></label>
        <div class="form-group">
          <select id="country" class="form-control clickable">
            <option value="AF">Afghanistan</option>
            <option value="AX">Åland Islands</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia, Plurinational State of</option>
            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
            <option value="BA">Bosnia and Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="BN">Brunei Darussalam</option>
            <option value="BG">Bulgaria</option>
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CA">Canada</option>
            <option value="CV">Cape Verde</option>
            <option value="KY">Cayman Islands</option>
            <option value="CF">Central African Republic</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="KM">Comoros</option>
            <option value="CG">Congo</option>
            <option value="CD">Congo, the Democratic Republic of the</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="CI">Côte d'Ivoire</option>
            <option value="HR">Croatia</option>
            <option value="CU">Cuba</option>
            <option value="CW">Curaçao</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="EC">Ecuador</option>
            <option value="EG">Egypt</option>
            <option value="SV">El Salvador</option>
            <option value="GQ">Equatorial Guinea</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="ET">Ethiopia</option>
            <option value="FK">Falkland Islands (Malvinas)</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value="GG">Guernsey</option>
            <option value="GN">Guinea</option>
            <option value="GW">Guinea-Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard Island and McDonald Islands</option>
            <option value="VA">Holy See (Vatican City State)</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="ID">Indonesia</option>
            <option value="IR">Iran, Islamic Republic of</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IM">Isle of Man</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="KE">Kenya</option>
            <option value="KI">Kiribati</option>
            <option value="KP">Korea, Democratic People's Republic of</option>
            <option value="KR">Korea, Republic of</option>
            <option value="KW">Kuwait</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="LA">Lao People's Democratic Republic</option>
            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LS">Lesotho</option>
            <option value="LR">Liberia</option>
            <option value="LY">Libya</option>
            <option value="LI">Liechtenstein</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MO">Macao</option>
            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
            <option value="MG">Madagascar</option>
            <option value="MW">Malawi</option>
            <option value="MY">Malaysia</option>
            <option value="MV">Maldives</option>
            <option value="ML">Mali</option>
            <option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option>
            <option value="MU">Mauritius</option>
            <option value="YT">Mayotte</option>
            <option value="MX">Mexico</option>
            <option value="FM">Micronesia, Federated States of</option>
            <option value="MD">Moldova, Republic of</option>
            <option value="MC">Monaco</option>
            <option value="MN">Mongolia</option>
            <option value="ME">Montenegro</option>
            <option value="MS">Montserrat</option>
            <option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option>
            <option value="MM">Myanmar</option>
            <option value="NA">Namibia</option>
            <option value="NR">Nauru</option>
            <option value="NP">Nepal</option>
            <option value="NL">Netherlands</option>
            <option value="NC">New Caledonia</option>
            <option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option>
            <option value="NE">Niger</option>
            <option value="NG">Nigeria</option>
            <option value="NU">Niue</option>
            <option value="NF">Norfolk Island</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option>
            <option value="PK">Pakistan</option>
            <option value="PW">Palau</option>
            <option value="PS">Palestinian Territory, Occupied</option>
            <option value="PA">Panama</option>
            <option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="PH">Philippines</option>
            <option value="PN">Pitcairn</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Réunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russian Federation</option>
            <option value="RW">Rwanda</option>
            <option value="BL">Saint Barthélemy</option>
            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
            <option value="KN">Saint Kitts and Nevis</option>
            <option value="LC">Saint Lucia</option>
            <option value="MF">Saint Martin (French part)</option>
            <option value="PM">Saint Pierre and Miquelon</option>
            <option value="VC">Saint Vincent and the Grenadines</option>
            <option value="WS">Samoa</option>
            <option value="SM">San Marino</option>
            <option value="ST">Sao Tome and Principe</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SN">Senegal</option>
            <option value="RS">Serbia</option>
            <option value="SC">Seychelles</option>
            <option value="SL">Sierra Leone</option>
            <option value="SG">Singapore</option>
            <option value="SX">Sint Maarten (Dutch part)</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SO">Somalia</option>
            <option value="ZA">South Africa</option>
            <option value="GS">South Georgia and the South Sandwich Islands</option>
            <option value="SS">South Sudan</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="SD">Sudan</option>
            <option value="SR">Suriname</option>
            <option value="SJ">Svalbard and Jan Mayen</option>
            <option value="SZ">Swaziland</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="SY">Syrian Arab Republic</option>
            <option value="TW">Taiwan, Province of China</option>
            <option value="TJ">Tajikistan</option>
            <option value="TZ">Tanzania, United Republic of</option>
            <option value="TH">Thailand</option>
            <option value="TL">Timor-Leste</option>
            <option value="TG">Togo</option>
            <option value="TK">Tokelau</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="TN">Tunisia</option>
            <option value="TR">Turkey</option>
            <option value="TM">Turkmenistan</option>
            <option value="TC">Turks and Caicos Islands</option>
            <option value="TV">Tuvalu</option>
            <option value="UG">Uganda</option>
            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option value="US">United States</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="UY">Uruguay</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VE">Venezuela, Bolivarian Republic of</option>
            <option value="VN">Viet Nam</option>
            <option value="VG">Virgin Islands, British</option>
            <option value="VI">Virgin Islands, U.S.</option>
            <option value="WF">Wallis and Futuna</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
          </select>
        </div>
        <span id="lang" class="glyphicon glyphicon-comment"></span>
        <label id="lbl-lang"><%= tr 'Spoken language' %></label>
        <div class="form-group">
          <select id="language" class="form-control clickable">
            <option value="ab">Abkhazian</option>
            <option value="aa">Afar</option>
            <option value="af">Afrikaans</option>
            <option value="sq">Albanian</option>
            <option value="am">Amharic</option>
            <option value="ar">Arabic</option>
            <option value="an">Aragonese</option>
            <option value="hy">Armenian</option>
            <option value="as">Assamese</option>
            <option value="ay">Aymara</option>
            <option value="az">Azerbaijani</option>
            <option value="ba">Bashkir</option>
            <option value="eu">Basque</option>
            <option value="bn">Bengali (Bangla)</option>
            <option value="dz">Bhutani</option>
            <option value="bh">Bihari</option>
            <option value="bi">Bislama</option>
            <option value="br">Breton</option>
            <option value="bg">Bulgarian</option>
            <option value="my">Burmese</option>
            <option value="be">Byelorussian (Belarusian)</option>
            <option value="km">Cambodian</option>
            <option value="ca">Catalan</option>
            <option value=" ">Cherokee</option>
            <option value=" ">Chewa</option>
            <option value="zh">Chinese</option>
            <option value="zh-Hans">Chinese (Simplified)</option>
            <option value="zh-Hant">Chinese (Traditional)</option>
            <option value="co">Corsican</option>
            <option value="hr">Croatian</option>
            <option value="cs">Czech</option>
            <option value="da">Danish</option>
            <option value=" ">Divehi</option>
            <option value="nl">Dutch</option>
            <option value=" ">Edo</option>
            <option value="en">English</option>
            <option value="eo">Esperanto</option>
            <option value="et">Estonian</option>
            <option value="fo">Faeroese</option>
            <option value="fa">Farsi</option>
            <option value="fj">Fiji</option>
            <option value="fi">Finnish</option>
            <option value=" ">Flemish</option>
            <option value="fr">French</option>
            <option value="fy">Frisian</option>
            <option value=" ">Fulfulde</option>
            <option value="gl">Galician</option>
            <option value="gd">Gaelic (Scottish)</option>
            <option value="gv">Gaelic (Manx)</option>
            <option value="ka">Georgian</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="kl">Greenlandic</option>
            <option value="gn">Guarani</option>
            <option value="gu">Gujarati</option>
            <option value="ht">Haitian Creole</option>
            <option value="ha">Hausa</option>
            <option value=" ">Hawaiian</option>
            <option value="he, iw">Hebrew</option>
            <option value="hi">Hindi</option>
            <option value="hu">Hungarian</option>
            <option value=" ">Ibibio</option>
            <option value="is">Icelandic</option>
            <option value="io">Ido</option>
            <option value=" ">Igbo</option>
            <option value="id, in">Indonesian</option>
            <option value="ia">Interlingua</option>
            <option value="ie">Interlingue</option>
            <option value="iu">Inuktitut</option>
            <option value="ik">Inupiak</option>
            <option value="ga">Irish</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>
            <option value="jv">Javanese</option>
            <option value="kn">Kannada</option>
            <option value=" ">Kanuri</option>
            <option value="ks">Kashmiri</option>
            <option value="kk">Kazakh</option>
            <option value="rw">Kinyarwanda (Ruanda)</option>
            <option value="ky">Kirghiz</option>
            <option value="rn">Kirundi (Rundi)</option>
            <option value=" ">Konkani</option>
            <option value="ko">Korean</option>
            <option value="ku">Kurdish</option>
            <option value="lo">Laothian</option>
            <option value="la">Latin</option>
            <option value="lv">Latvian (Lettish)</option>
            <option value="li">Limburgish ( Limburger)</option>
            <option value="ln">Lingala</option>
            <option value="lt">Lithuanian</option>
            <option value="mk">Macedonian</option>
            <option value="mg">Malagasy</option>
            <option value="ms">Malay</option>
            <option value="ml">Malayalam</option>
            <option value="mt">Maltese</option>
            <option value="mi">Maori</option>
            <option value="mr">Marathi</option>
            <option value="mo">Moldavian</option>
            <option value="mn">Mongolian</option>
            <option value="na">Nauru</option>
            <option value="ne">Nepali</option>
            <option value="no">Norwegian</option>
            <option value="oc">Occitan</option>
            <option value="or">Oriya</option>
            <option value="om">Oromo (Afaan Oromo)</option>
            <option value=" ">Papiamentu</option>
            <option value="ps">Pashto (Pushto)</option>
            <option value="pl">Polish</option>
            <option value="pt">Portuguese</option>
            <option value="pa">Punjabi</option>
            <option value="qu">Quechua</option>
            <option value="rm">Rhaeto-Romance</option>
            <option value="ro">Romanian</option>
            <option value="ru">Russian</option>
            <option value=" ">Sami (Lappish)</option>
            <option value="sm">Samoan</option>
            <option value="sg">Sangro</option>
            <option value="sa">Sanskrit</option>
            <option value="sr">Serbian</option>
            <option value="sh">Serbo-Croatian</option>
            <option value="st">Sesotho</option>
            <option value="tn">Setswana</option>
            <option value="sn">Shona</option>
            <option value="ii">Sichuan Yi</option>
            <option value="sd">Sindhi</option>
            <option value="si">Sinhalese</option>
            <option value="ss">Siswati</option>
            <option value="sk">Slovak</option>
            <option value="sl">Slovenian</option>
            <option value="so">Somali</option>
            <option value="es">Spanish</option>
            <option value="su">Sundanese</option>
            <option value="sw">Swahili (Kiswahili)</option>
            <option value="sv">Swedish</option>
            <option value=" ">Syriac</option>
            <option value="tl">Tagalog</option>
            <option value="tg">Tajik</option>
            <option value=" ">Tamazight</option>
            <option value="ta">Tamil</option>
            <option value="tt">Tatar</option>
            <option value="te">Telugu</option>
            <option value="th">Thai</option>
            <option value="bo">Tibetan</option>
            <option value="ti">Tigrinya</option>
            <option value="to">Tonga</option>
            <option value="ts">Tsonga</option>
            <option value="tr">Turkish</option>
            <option value="tk">Turkmen</option>
            <option value="tw">Twi</option>
            <option value="ug">Uighur</option>
            <option value="uk">Ukrainian</option>
            <option value="ur">Urdu</option>
            <option value="uz">Uzbek</option>
            <option value=" ">Venda</option>
            <option value="vi">Vietnamese</option>
            <option value="vo">Volapük</option>
            <option value="wa">Wallon</option>
            <option value="cy">Welsh</option>
            <option value="wo">Wolof</option>
            <option value="xh">Xhosa</option>
            <option value=" ">Yi</option>
            <option value="yi, ji">Yiddish</option>
            <option value="yo">Yoruba</option>
            <option value="zu">Zulu</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button id="save-pref" type="button" class="btn btn-primary" data-dismiss="modal">Register</button>
      </div>
    </div>

  </div>
  <script>
    $('option[value=<%= @settings[:country] %>]', '#country').attr('selected', '');
    $('option[value=<%= @settings[:language] %>]', '#language').attr('selected', '');
    $('input[value=<%= @settings[:sex] %>]').attr('checked', '');
  </script>
</div>

<div class="jumbotron" id="header">
  <button type="button" class="btn btn-link pull-right options" data-toggle="modal" data-placement="bottom" title="<%= tr 'Profile' %>" data-target="#options-modal">
    <span class="glyphicon glyphicon-user"></span>
  </button>
  <center>
    <img id="logo" src="<%= image_url('logo64.png') %>" alt="logo" height="40x" width="40px"/>
  </center>
  <center>
    <font size="10">
      <b>
        <span id="discover">Découvrir</span><br>
        <span style="top: -15px;position: relative; font-size: 35pt">SHERBROOKE</span>
      </b>
    </font>
  </center>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h4><%= tr 'Find any services around you in your language!' %></h4>
      <form id="search-form" role="form" action="/results" method="get">
        <div class="input-group input-group-lg">
          <input class="form-control" id="q" name="q" type="text" placeholder="<%= tr 'Enter a keyword' %>">
            <span class="input-group-btn">
          <button id="search-button" class="btn btn-default" type="submit">
            <span id="hourglass" class="glyphicon glyphicon-search"></span></button>
            </span>
        </div><!-- /input-group -->
      </form>
      <div id="word-cloud"></div>
    </div>
  </div>
</div>

<script>

  var words = [
    <% @results.each do |entry| %>
    {
      text: "<%= tr(entry[:text]) %>", weight: <%= entry[:weight] %>, handlers: {
      click: function () {
        $('#q').val("<%= tr entry[:text] %>");
        setTimeout(function () {
          $('#search-form').submit();
        }, 500);
      }
    }
    },
    <% end %>
  ];

  $(document).ready(function () {
    $("#word-cloud").jQCloud(words);
    $('[data-toggle="modal"]').tooltip();
    $("#q").focus();
  });

  $('#save-pref').click(function () {
    $.ajax({
      method: "POST",
      url: "/settings",
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify({
        sex: $('input[name=sex-radio]:checked').val(),
        children: $('#children').val(),
        country: $('#country').val(),
        language: $('#language').val()
      })
    }).done(function (msg) {
      alert("Data Saved! " + msg);
    });
  });

  $(function () {
    $("#discover").typed({
      strings: ["découvrir", "discover", "menemukan", "descubrir", "objavit", "khampha", "entdecken"],
      typeSpeed: 150,
      backSpeed: 50,
      backDelay: 2500,
      cursorChar: "",
      loop: true,
      startDelay: 20
    });
  });
</script>