<style>
  body, html {
    margin: 0;
    overflow: hidden;
    height: 100%;
  }

  @media (min-width: 768px) {
    #left {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0;
    }

    #right {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      overflow-y: auto;
    }
  }

  #left #table {
    background-color: #e8e2c8;
    overflow-y: auto;
    position: absolute;
    top: 101px;
    left: 0;
    right: 0;
    bottom: 39px;
  }

  #left {
    background-color: #e8e2c8;
    height: 100%;
  }

  #right {
    height: 100%;
    background-color: #FFFFFF;
  }

  #right > div {
    padding-bottom: 39px;
  }

  body {
    background-color: #FFFFFF;
  }

  body > div > div {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }



  .table > tbody > tr {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }

  .table > tbody > tr > td {
    padding: 22px !important;
  }

  .table > tbody > tr > td {
    border-top: 2px solid #FFF;
  }

  .table > tbody > tr span {
    color: transparent;
  }

  .selected {
    background-color: white;
  }

  .selected span {
    color: black !important;
  }

  #logo {
    background-image: url("<%= image_url('background.svg') %>");
    background-size: 700px auto;
    background-position: center top;
    background-repeat: repeat-x;
    height: 100px;
  }

  #logo h3 {
    margin-top: 0;
    padding-top: 20px;
    color: #000000;
  }

  #name, #url {
    color: #fbb040;
  }
</style>

<div class="">
  <div id="left" class="col-sm-4">
    <div id="logo"><a href="/"><h3><b><center><span class="glyphicon glyphicon-globe"></span><%= tr 'Découvrir Sherbrooke' %></center></b></h3></a></div>
    <div id="table">
      <table class="table table-hover">
        <tbody>
        <% @results.each do |entry| %>
            <tr id="<%= entry[:id] %>">
              <td><%= entry[:name] %></td>
              <td><span class="glyphicon glyphicon-chevron-right"></span></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="right" class="col-sm-8">
    <div id="map" style="width: 100%; height: 240px;"></div>
    <div class="col-md-12">
      <b><h2 id="name"></h2></b>
      <b><div id="address"></div></b>
      <h4><a id="url" target="_blank"></a></h4><br>
      <h4><a id="phone"></a></h4><br>
      <p id="description"></p>
      <img id="image" src="" class="img-rounded">
    </div>
  </div>
</div>

<script>

  var results = {
    <% @results.each do |entry| %>
    '<%= entry[:id] %>': {
      'name': '<%= entry[:name] %>',
      'address': '<%= entry[:full_address] %>',
      'phone': '<%= entry[:phone] %>',
      'website': '<%= entry[:website] %>',
      'description': '<%= entry[:description] %>',
      'image': '<%= entry[:image] %>',
      'latitude': '<%= entry[:latitude] %>',
      'longitude': '<%= entry[:longitude] %>'
    },
    <% end %>
  };

  $('table tr:first-child').toggle();

  $(document).ready(function () {
    $('[data-toggle="modal"]').tooltip();
  });

  var map, marker, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14
    });
    infoWindow = new google.maps.InfoWindow();
    marker = new google.maps.Marker({
      map: map,
    });
    marker.addListener('click', function () {
      infoWindow.open(map, marker);
    });
    $('table tr:first-child').click();
  }

  $("tr").click(function () {
    var selectedEntry = results[$(this).attr('id')];
    $('tr').removeClass('selected');
    $('#' + $(this).attr('id')).addClass('selected');

    $('#name').html(selectedEntry.name);
    $('#url').html(selectedEntry.website);
    $('#url').attr('href', 'http://' + selectedEntry.website);
    $('#phone').html(selectedEntry.phone);
    $('#phone').attr('href', 'tel:' + selectedEntry.phone);
    $('#address').html(selectedEntry.address);
    $('#image').attr('src', selectedEntry.image);
    $('#description').html(selectedEntry.description);

    setMap(selectedEntry);
  });

  function setMap(selectedEntry) {
    var latlng = (selectedEntry.latitude) ? new google.maps.LatLng(selectedEntry.latitude, selectedEntry.longitude) : undefined;
    if (latlng) {
      marker.setPosition(latlng);
      map.panTo(latlng);
    }
    else {
      getLatLng(selectedEntry.address);
    }
    infoWindow.setContent('<font size="4"><b>' + selectedEntry.name + '</b></font><br>'
        + '<a href="http://maps.google.com/?q=' + selectedEntry.address + '" target="_blank">' + selectedEntry.address + '</a>');
    marker.setTitle(selectedEntry.name);
    infoWindow.open(map, marker);
  }

  function getLatLng(address) {
    return $.ajax({
      method: "GET",
      url: "http://maps.google.com/maps/api/geocode/json?address=" + address,
      contentType: "application/json",
      dataType: "json",
    }).done(function (data) {
      if (data.results[0].geometry.location) {
        map.panTo(data.results[0].geometry.location);
        marker.setPosition(data.results[0].geometry.location);
      }
    });
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>