<!DOCTYPE html>
<html>
<head>
  <title>Découvrir Sherbrooke</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="icon" type="image/pgn" href="<%= image_url('favicon.png')%>" />

  <style>
    body {
      font-family: 'Open Sans';
      background-color: #e8e2c8;
    }

    .footer {
      padding: 10px;
      margin: 0;
    }

    html,body{
      height: 100%
    }

    .jumbotron {
      background-color: #F9F9F9;
    }

    .footer {
      cursor: pointer;
    }
  </style>
</head>
<body>

<%= yield %>

<div class="footer navbar-fixed-bottom text-center jumbotron">
  &copy Eric Matte, Ian Lachance, Maxime Jeanson and Dereck Pouliot @
  <a href="http://www.hacksherbrooke.com"> HackSherbrooke 2016 </a>
</div>
</body>
</html>
